* {
    box-sizing: border-box;
}

.thanks {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.thanks__content h2 {
    margin-top: 200px;
    text-align: center;
}

.thanks__button {
    margin-top: 30px;
    text-align: center;
}

.thanks__button--submit {
    margin-top: 40px;
    font-size: 16px;
    margin: 20px;
    width: 15%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}